.App {
  height: 100vh;
  background-image: url(./images/vista.jpg);
  background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}

.App-players {
  height: 100%;
  display: flex;
}

.App-controls {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%);
}

.App-controls span {
  padding: 1em;
  background-color: hsla(120, 2%, 20%, .8);
  border-radius: 2px;
  font-size: 1.1em;
  color: hsla(81, 28%, 90%, 1);
}

.App-controls span:hover {
  background-color: hsla(120, 2%, 20%, .9);
  cursor: pointer;
}
